<% include ../partials/header.ejs %>

<form action="/auth/register" method="POST" role="form" id='reg-form'>
  <legend id='register-legend'>Register</legend>
  <div class="form-group">
    <label for="">Email</label>
    <input type="text" name='email' class="form-control" id="reg-email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="">Username</label>
    <input type="text" name='username' class="form-control" id="" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="">Password</label>
    <input type="text" name='password' class="form-control" id="" placeholder="Password">
  </div>



  <button type="submit" class='btn btn-default reg-button'>Submit</button>
</form>





<% include ../partials/footer.ejs %>