<div class="checkins-overlay">
  <div class="list-wrapper">
    <div class="close">
      <span></span>
      <span></span>
    </div>
    <div class="list">
      <div class="list-details">
        <h3>Users That Checked in Within the Hour</h3>
      </div>
      <div class="checkins-list">
        <ul></ul>
      </div>
    </div>
  </div>
</div>
