<div class="geo-popup">
	<div class="copy">
		<div class="my-close">
			<span class="line"></span>
			<span class="line"></span>
		</div>
		<h3>Please allow browser geolocation for best experience.</h3>
		<button class="btn">Okay</button>
	</div>
	<div class="overlay"></div>
</div>

