<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Where's the Party at?</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel='stylesheet' href='/css/style.css'>
  <link href='//fonts.googleapis.com/css?family=Old+Standard+TT:400,700' rel='stylesheet' type='text/css'>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//maps.googleapis.com/maps/api/js"></script>
  <script src='/js/script.js'></script>

</head>
<body
  <div class='container'>
  <nav class="navbar navbar-default navbar-center" role="navigation">
    <a class="navbar-brand" href="/">Top Dog</a>
    <ul id='header-list' class="nav navbar-nav">
    <% if(user){ %>

      <li class='active'>
        <a href="/favorites/index">Favorites</a>
      </li>
      <li>
        <a href='/auth/login' class='hidden'>Log In</a>
      </li>
      <li>
        <a href='/auth/logout'>Log Out</a>
      </li>
      <% }else{ %>
       <li>
        <a href="/favorites/index" class='hidden'>Favorites</a>
      </li>
      <li>
        <a href='/auth/login'>Log In</a>
      </li>
        <li>
            <a href='/auth/register'>Register</a>
        </li>
       <li>
        <a href='/auth/logout' class=hidden>Log Out</a>
      </li>
      <% } %>
    </ul>
    <form class='pull-right'><% include alerts.ejs %></form>
    <form class="navbar-form navbar-right" role="search" action="/parks/:id" method="get">
      <div class="form-group">
        <input type="text" name='q' class="form-control" placeholder="Search for new parks">
      </div>
      <button type="submit" class="btn btn-default header-button">Submit</button>
    </form>
  </nav>


