<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Where's the Party at?</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel='stylesheet' href='/css/style.css'>
  <link href='//fonts.googleapis.com/css?family=Old+Standard+TT:400,700' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js"></script>
  <script src='/js/script.js'></script>

</head>
<body
<div class='container'>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Top Dog</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
    <% if(user) { %>
       <li class='active'>
        <a href="/favorites/index">Favorites</a>
      </li>
      <li>
        <a href='/auth/login' class='hidden'>Log In</a>
      </li>
      <li>
        <a href='/auth/logout'>Log Out</a>
      </li>
            <% }else{ %>
       <li>
        <a href="/favorites/index" class='hidden'>Favorites</a>
      </li>
      <li>
        <a href='/auth/login'>Log In</a>
      </li>
        <li>
            <a href='/auth/register'>Register</a>
        </li>
       <li>
        <a href='/auth/logout' class=hidden>Log Out</a>
      </li>
      <% } %>
      <li>
        <a data-toggle="modal" href='#modal-id'>Contact</a>
        <div class="modal fade" id="modal-id">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Contact</h4>
              </div>
              <div class="modal-body text-center">
                 <p class='contact-text'>Thanks for checking out <strong>Top Dog</strong>. I hope that you've enjoyed finding dog friendly parks as much as I've enjoyed working on this site. Please feel free to contact me if you have suggestions on how I can improve the experience.</p>
                 <p class='contact-text'>Thanks!</p>
                 <p class='contact-text'>Dan McGough</p>
                 <ul class='contact-icon-list'>
                   <li>
                     <a href='mailto:mcgough.dan@gmail.com'><img src="/images/email_icon.png" class='contact-icon'></a>
                   </li>
                   <li>
                      <a href='https://www.linkedin.com/pub/dan-mcgough/a3/a39/1b4'><img src='/images/linkedin.png' class='contact-icon'></a>
                   </li>
                   <li>
                      <a href='https://www.facebook.com/mcgough.dan'><img src="/images/facebook.png" class='contact-icon'></a>
                   </li>
                    <li>
                      <a href='https://github.com/mcgough'><img src="/images/Github.png" class='contact-icon'></a>
                   </li>
                 </ul>
    </ul>
    <form class="navbar-form navbar-right" role="search" action="/parks/:id" method="get">
      <div class="form-group">
        <input type="text" class="form-control" name='q' placeholder="Search for new parks">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  <!--   <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
    </ul> -->
  </div><!-- /.navbar-collapse -->
</nav>
</div>
<div class='container'>




