<% include partials/header.ejs %>

<div class='row text-center'>
<h1 id='main-title' class='text-center'>Top Dog</h1>
<img src='/images/bulldog.png' class='text-center home-image'>
</div>
<form action="/parks/:id" method="get" role="form" id='main-search'>

  <div class="form-group">
 <!--    <label for="">label</label> -->
    <input type="text" class="form-control" name='q' id="main-input" placeholder="Search for parks in your city or around the world">
  </div>
<div class='text-center'>
<button type="submit" class="btn btn-default">Submit</button>


</div>
</form>




<% include partials/footer.ejs %>
<!-- <a href='/parks/index' class='btn btn-primary'>Go to parks</a> -->