<% include partials/header.ejs %>


<h1 id='main-title' class='text-center'>Dog Park Checkin</h1>

<form action="/parks/:id" method="get" role="form" id='main-search'>
  <legend class='text-center'>Find dog friendly parks in your city</legend>

  <div class="form-group">
 <!--    <label for="">label</label> -->
    <input type="text" class="form-control" name='q' id="" placeholder="Search for parks in your city">
  </div>
<div class='text-center'>
<button type="submit" class="btn btn-primary">Submit</button>


<% if(user){ %>
<a href='/auth/register' class='btn btn-primary hidden'>Register</a>
<% }else{ %>
<a href='/auth/register' class='btn btn-primary'>Register</a>
<% } %>
</div>
</form>




<% include partials/footer.ejs %>
<!-- <a href='/parks/index' class='btn btn-primary'>Go to parks</a> -->