html {
  height: 100%;
  width: 100%;
}
body {
  max-width: 1200px;
  font-family: 'Old Standard TT', serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/Olive.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.list-line {
  color: white;
}
.header-navbar {
  background-color: white;
  box-shadow: 2px 2px 2px gray;
  opacity: .9;
  text-shadow: none;
}
.dogbone-nav {
  width: 55px;
  height: 30px;
  margin: auto;
  padding-bottom: 7px;
}
.header-heart {
  color: black;
  font-size: 30px;
  text-align: center;
  padding-top: 3%;
  margin-left: 25%;
}
.alerts {
  margin: auto;
}
#header-list {
  text-align: right;
}
.header-button {
  margin-right: 15px;
}
.main-index {
  margin: auto;
  margin-top: 7em;
}
#main-title {
  margin-top: 1%;
  font-size: 6.5em;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.home-image {
  height: 18em;
  width: 32em;
  margin:  0 auto ;
  margin-bottom: 1em;
  /*display: none;*/
}
.main-small {
  font-size: .3em;
  color: white;
  text-shadow: 2px 2px 2px black;
}
h1,
h2 {
  font-family: 'Old Standard TT', serif;
  font-size: 4em;
}
#reg-form,
#login-form {
  font-size: 2em;
}
input {
  text-align: center;
}
#register-legend,
#login-legend {
  font-size: 2em;
  margin-top: 20%;
  text-align: center;
}
#register-legend {
  margin-top: 10%;
}
legend {
  margin-bottom: 0px;
  color: white;
}
#main-search {
  width: 60%;
  margin: 0 auto;
  margin-top: 2%;
}
.main-search-button {
  margin-top: 1em;
}
#login-form,
#reg-form {
  width: 40%;
  margin: 0 auto;
  margin-top: 2%;
  text-align: center;
}
.password-characters {
  font-size: 75%;
  color: white;
}
.reg-button,
.login-button {
  margin: 0 auto;
  text-align: center;
}
.contact-text {
  font-size: 1.5em;
}
.contact-icon-list {
  text-decoration: none;
  padding: 0;
}
li {
  list-style: none;
  display: inline;
  margin: auto;
}
.contact-icon {
  width: 35px;
  height: 35px;
}
.gm-style-mtc {
  text-shadow: none;
}
#map-canvas {
width: 410px;
height: 450px;
}
#user-map {
  width: 410px;
  height: 450px;
}
.alerts {
  margin: auto;
  width: 50%;
  margin-bottom: -1em;
  text-align: center;
  text-shadow: none;
}
label {
  margin-top: 10px;
}
.welcome {
  margin-top: 1em;
  margin-bottom: 1em;
}
.welcome-text {
  width: 50%;
  margin: auto;
  font-size: 1.75em;
}
#map-canvas,
#user-map {
  border-radius: 5%;
-webkit-box-shadow: 2px 32px 31px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 32px 31px 5px rgba(0,0,0,0.75);
box-shadow: 2px 32px 31px 5px rgba(0,0,0,0.75);
text-shadow: none;
}
.no-parks {
  font-size: 3em;
}
/*.numDogs {
  padding-left: 35px;
}*/
.checkedIn-dogs {
  display: block;
  font-size: 2.5em;
}
.mins-fix {
  font-size: .4em;
}
#modal-id {
  z-index: 100000;
}
.checkin-form {
  margin-right: -30px;
}
th {
  font-size: 20px;
}
td {
  font-size: 20px;
}
.btn {
  text-shadow: none;
}
a {
  color: white;
}
.contact,
.about {
  margin-top: 3em;
}
.icon {
  margin-left: 10px;
}
.icon:first-child {
  margin-left: 0px;
}
.link-icon:hover {
  text-decoration: none;
}


/*media queries*/

@media (max-width: 1000px) {
  #map-canvas,
  #user-map {
    display: none;
  }
}
@media (max-width: 750px){
  body {
    font-size: 1em;
  }
  .main-small {
    line-height: -3px;
    font-size: .24em;
  }

  #main-search,
  #login-form,
  #reg-form {
    width: 75%;
  }
  .small-remove {
    display: none;
  }
  .navbar-nav li a {
    font-size: 2em;
  }
  .numDogs,
  .park-name {
    font-size: 16px;
  }
  .alerts {
    font-size: 10px;
    width: 75%;
  }
  .navbar {
    margin-bottom: 0px;
  }
  .welcome-text {
    width:100%;
  }
  .home-image {
    display: none;
  }
  .numDogs {
    padding-left: 10px;
  }
  .welcome-old {
    font-size: 2.5em;
  }
  .welcome-form {
    margin-top: 25px;
  }
  .remove-button {
    margin-left: -25px
  }
  .checkin-form {
    margin-right: 0;
  }
  .address {
    display: none;
  }
  .contact,
  .about {
    margin-top: 1em;
  }
}

@media (max-width: 350px) {
  .container {
    width: 100%;
  }
  #main-title{
    margin-top: 0%;
    font-size: 6em;
  }
  .show-title {
    margin-top: 10px;
  }
  #register-legend,
  #login-legend {
    margin-top: 15px;
  }
  .park-name {
    font-size: 16px;
  }
  .numDogs {
    font-size: 20px;
    padding-left: 2%;
  }
  .main-title-park-list {
    font-size:2.8em;
  }
  .show-page {
    padding-left: 0;
  }
  .header-heart {
    margin-left: 16%;
  }
  a {
    font-size: 12px;
    color: white;
  }
}






