body {
  max-width: 1200px;
  font-family: 'Old Standard TT', serif;
}
.alerts {
  margin: auto;
}
#header-list {
  text-align: right;
}
.header-button {
  margin-right: 15px;
}
.main-index {
  margin: auto;
  margin-top: 7em;
}
#main-title {
  margin-top: 1%;
  font-size: 6.5em;
}
.home-image {
  height: 18em;
  width: 23em;
  margin:  0 auto ;
}
.main-small {
  font-size: .3em;
}
.main-right {
  margin-top:1.5em;
}
h1,
h2 {
  font-family: 'Old Standard TT', serif;
  font-size: 4em;
}
#reg-form,
#login-form {
  font-size: 2em;
}
#register-legend,
#login-legend {
  font-size: 2em;
  margin-top: 20%;
  text-align: center;
}
#register-legend {
  margin-top: 10%;
}
#main-search {
  width: 60%;
  margin: 0 auto;
  margin-top: 2%;
}
.main-search-button {
  margin-top: 1em;
}
#login-form,
#reg-form {
  width: 40%;
  margin: 0 auto;
  margin-top: 2%;
}
.reg-button,
.login-button {
  margin: 0 auto;
}
.contact-text {
  font-size: 1.5em;
}
.contact-icon-list {
  text-decoration: none;
  padding: 0;
}
li {
  list-style: none;
  display: inline;
  margin: auto;
}
.contact-icon {
  width: 35px;
  height: 35px;
}

#map-canvas {
width: 410px;
height: 450px;
}
#user-map {
  width: 410px;
  height: 450px;
}
.alerts {
  margin: auto;
  width: 50%;
  margin-bottom: -1em;
  text-align: center;
}
label {
  margin-top: 25px;
}
.welcome {
  margin-top: 1em;
  margin-bottom: 1em;
}
.welcome-text {
  width: 50%;
  margin: auto;
  font-size: 1.75em;
}
#map-canvas,
#user-map {
  border-radius: 5%;
-webkit-box-shadow: 2px 32px 31px 5px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 32px 31px 5px rgba(0,0,0,0.75);
box-shadow: 2px 32px 31px 5px rgba(0,0,0,0.75);
}
.no-parks {
  font-size: 3em;
}


/*media queries*/

@media (max-width: 1000px) {
  #map-canvas,
  #user-map {
    display: none;
  }
}
@media (max-width: 750px){
  body {
    font-size: 1em;
  }
  .main-small {
    line-height: -3px;
  }

  #main-search,
  #login-form,
  #reg-form {
    width: 75%;
  }
 /* #main-title {
    margin-top: -25%;
  }*/
  .small-remove {
    display: none;
  }
  .navbar-nav li a {
    font-size: 2em;
  }
  .table-park,
  .table-dogs {
    font-size: 1.5em;
  }
  .numDogs,
  .park-name {
    font-size: 1.75em;
  }
  .alerts {
    font-size: 10px;
    width: 75%;
  }

}

@media (max-width: 350px) {
  .container {
    width: 100%;
  }
  #main-title{
    margin-top: -20%;
    font-size: 4em;
  }
  .show-title {
    margin-top: auto;
  }
  .welcome-old {
    margin-top: auto;
  }
  #register-legend,
  #login-legend {
    margin-top: 0px;
  }
  .park-name {
    font-size: .8em;
  }
}






