<% include ../partials/header.ejs %>
<div class="row text-center">
  <h1>Sorry, it seems we couldn't find what you were looking for.</h1>
  <h2>(404)</h2>
</div>

<% include ../partials/footer.ejs %>
