<% include ../partials/header.ejs %>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="text-center about">About</h1>
    <hr />
    <p class="contact-text">
      <strong>Top Dog</strong> is an app for dog owners who are looking for a
      new place to let their friend off their leash. It also works great as
      social tool, letting owners checkin at their favorite park which could
      influence another owner's decision to go to that park and play.
    </p>
  </div>
</div>

<% include ../partials/footer.ejs %>
