<% include ../partials/header.ejs %>
<div class='row'>
  <div class='col-md-4 col-md-offset-4'>
    <h1 class='text-center contact'>Contact</h1>
    <hr>
    <p class='contact-text'>Thanks for checking out <strong>Top Dog</strong>. I hope that you've enjoyed finding dog friendly parks as much as I've enjoyed working on this site. Please feel free to contact me if you have suggestions on how I can improve the experience.</p>
    <p class='contact-text'>Thanks!</p>
    <p class='contact-text'>Dan McGough</p>
    <ul class='contact-icon-list'>
     <li>
       <a href='mailto:mcgough.dan@gmail.com'><img src="/images/email_icon.png" class='contact-icon'></a>
     </li>
     <li>
        <a href='https://www.linkedin.com/pub/dan-mcgough/a3/a39/1b4'><img src='/images/linkedin.png' class='contact-icon'></a>
    </li>
    <li>
        <a href='https://www.facebook.com/mcgough.dan'><img src="/images/facebook.png" class='contact-icon'></a>
    </li>
    <li>
        <a href='https://github.com/mcgough'><img src="/images/Github.png" class='contact-icon'></a>
     </li>
    </ul>
  </div>
</div>



<% include ../partials/footer.ejs %>